<table id="domainTable">
    <thead>
        <tr>
        {% for headerTable in headersTable %}
            <th>{{ headerTable }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for rowTable in rowsTable %}
            <tr>
                {% for cell in rowTable %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $('#domainTable').DataTable();
</script>