<form class="box" id="generalForm">
    <div class="field">
        <label class="label" for="showingType">Type d'affichage</label>
        <div class="select">
            <select name="showingType" id="showingType">
                <option value="">selectionner</option>
                <option value="map">Carte</option>
                <option value="datatable">Datatable</option>
            </select>
        </div>
    </div>
    <div id="mapOption" class="is-hidden block">
        <h2>Option</h2>
        <div class="field">
            <label class="label" for="showMode">Type d'affichage des domaines</label>
            <div class="select">
                <select name="showMode" id="showMode">
                    <option value="domain">Domaines générales</option>
                    <option value="crossDomain">Domaines croisées</option>
                    <option value="crossDomainL0">Domaines racines croisées</option>
                </select>
            </div>
        </div>
    </div>
    <div id="datatableOption" class="is-hidden block">
        <h2>Option</h2>
        <div class="field">
            <label class="label" for="tableType">Type de tableau</label>
            <div class="select">
                <select name="tableType" id="tableType">
                    <option value="country">par pays</option>
                    <option value="institution">par institution</option>
                </select>
            </div>
        </div>
    </div>
    <div class="control">
        <button class="button is-primary">Afficher</button>
    </div>
</form>
<script>
    function makeChanger(selector, loader) {
        return () => loader(selector);
    }
    $('#showingType').change(ev => {
        $('#mapOption').addClass('is-hidden');
        $('#datatableOption').addClass('is-hidden');
        switch($('#showingType').val()) {
            case 'map':
                $('#mapOption').removeClass('is-hidden');
                break
            case 'datatable':
                $('#datatableOption').removeClass('is-hidden');
                break
        }
    })
    $('#generalForm').submit(ev => {
        ev.preventDefault();
        $('#configPage').addClass('is-hidden');
        $('#changeConfig').removeClass('is-hidden');
        if($('#showingType').val() === 'map') {
            switch($('#showMode').val()) {
                case 'domain':
                    $('#map').data('mod', 'domain');
                    $('#map').data('domainl0', false);
                    break;
                case 'crossDomain':
                    $('#map').data('mod', 'crossDomain');
                    $('#map').data('domainl0', false);
                    break;
                case 'crossDomainL0':
                    $('#map').data('mod', 'crossDomain');
                    $('#map').data('domainl0', true);
                    break;
            }
            $('#map').css({width: '100%', height: '600px'});
            halMaps.loadMap('#map');
            $('#map').on('changeData', makeChanger('#map', halMaps.loadMap));
            $('#map').removeClass('is-hidden');
        } else if ($('#showingType').val() === 'datatable') {
            $.ajax({
                type: "post",
                url: '../api/getData.php',
                data: {
                    datatable: true,
                    tableType: $('#tableType').val(),
                },
                success: async data => {
                    var page0 = await engine.renderFile("domain/datatable", data);
                    $("#table").html(page0);
                    $('#table').removeClass('is-hidden');
                }
            })
        }
    })
    $('#changeConfig').click(ev => {
        $('#changeConfig').addClass('is-hidden');
        $('#configPage').removeClass('is-hidden');
        $('#map').addClass('is-hidden');
        $('#table').addClass('is-hidden');
    });
</script>