<h3>{{ name }}</h3>

<h4>institutions participantes</h4>
{{ institutions | size }} institution{{ pluralInstitutions }}<br />
{% for institution in institutions limit:4 %}
    <br /> {{ institution.name | replace: "%%simplecote%%", "'" | truncate: 40 }} : {{ institution.nb }}
{% endfor %}