<h3>{{ name }}</h3>

<h4>domaines</h4>
{{ domains | size }} domaine<br /><br />

{% for domain in domains limit:4 %}
{{ domain.name | replace: "%%simplecote%%", "'" | truncate: 40 }} : {{ domain.nb }} <br />
{% endfor %}
