<h3>{{ name }}</h3>

<h4>Domaines croisées</h4>
{{ crossDomains.size }} type d'interdisciplinarité<br /><br />

{% for crossDomain in crossDomains limit:4 %}
{{ crossDomain[0] | truncate: 40 }} : {{ crossDomain[1].nb }} <br />
{% endfor %}