<label class="label" for="searchText">Recherche multicritère : </label>
<input class="input" type="text" id="searchText" name="searchText"><br>
<h2>Correspondances</h2>
<table style="width: 100%;" id="resultTable">
   <thead>
      <tr>
         <th style="width: 80%;">Nom</th>
         <th>Code</th>
      </tr>
   </thead>
   <tbody id="resultTableBody"></tbody>
</table>
<script>
   var currentQuery = null;
   function launchQuery(queryField, research) {
      if(currentQuery!=null) currentQuery.abort();
      currentQuery = $.ajax({
         url: 'https://api.archives-ouvertes.fr/search',
         data: {
            q: queryField+':'+research,
            fl: 'collName_s,collCode_s,collId_i'
         },
         success: data => {
            $('#resultTableBody').empty();
            idIn = [];
            data['response']['docs'].forEach((dataElement, index) => {
                  tableLine = '';
                  dataElement['collName_s'].forEach((collName, index) => {
                     if(!idIn.includes(dataElement['collCode_s'][index])) {
                        openLink = '<a href="#" class="validate" data-newid="' + dataElement['collCode_s'][index]+'">';
                        idIn.push(dataElement['collCode_s'][index]);
                        tableLine += '<tr><td>' + openLink + collName + '</a></td><td>';
                        tableLine += openLink + dataElement['collCode_s'][index] + '</a></td></tr>';
                     }
                  })
               tableLine += '';
               dataElement['collCode_s'].forEach(newId => {
               });
               tableLine += '</td></tr>';
               $('#resultTableBody').append(tableLine)
            })
            $('.validate').click(ev => {
               ev.preventDefault();
               $('#queryBase').val($(ev.target).data('newid'));
               $("#search-dialog").dialog('close');
            })
         }
      })
   }
   $('#searchText').on('input', function() {
      launchQuery('collection_t', $('#searchText').val());
   });
   $('#searchName').on('input', function() {
      launchQuery('collName_t', $('#searchName').val());
   });
   $('#searchCode').on('input', function() {
      launchQuery('collCode_s', $('#searchCode').val());
   });
</script>