<p>Les listes de domaines et sous-domaines ne contiennent que des domaines présents dans les résultats de la requête.</p>
<p>Permet de choisir un domaine et de re-exécuter la requête sur ce domaine uniquement. Pour cela, choisir un domaine et cliquer sur le bouton Actualiser.</p>
<p>/!\ execute une nouvelle requête et change les données courantes</p>
    <script>
        domainList=[];
        function actualiseDomainList(parent, level, domainList) {
            $.ajax({
                type: 'get',
                url: '../api/getDomain.php',
                data: {
                    ar: domainList,
                    level: level,
                    parent: parent
                },
                success: doamins => {
                    $('#domainSelector'+level).empty()
                    $('#domainSelector'+level).append('<option value="">tous</option>');
                    doamins.forEach(element => {
                        $('#domainSelector'+level).append('<option value="' + element.value + '">' + element.name + '</option>');
                    });
                }
            })
        }
    </script>
    <form id="selectDomainForm">
        <ul>
            {% assign levelNumber = allDomains.size %}
            {% for domains in allDomains %}
            {% if domains.size > 0 %}
            <p>
                <div class="select">
                    <select name="domainSelector{{ forloop.index0 }}" id="domainSelector{{ forloop.index0 }}">
                    </select>
                </div>
            </p>
                <script>
                    domainList[{{ forloop.index0 }}] = [{% for domain in domains %}"{{ domain }}", {% endfor %}];
                    $('#domainSelector{{ forloop.index0 }}').change(ev => {
                        currentDomain = $('#domainSelector{{ forloop.index0 }} option:selected').val();
                        currentDomainLevel = {{ forloop.index0 }};
                        {% for subLevel in (forloop.index..levelNumber) %}
                        actualiseDomainList(currentDomain, {{ subLevel }}, domainList[{{ subLevel }}]);
                        {% endfor %}
                    })
                    actualiseDomainList('', {{ forloop.index0 }}, domainList[{{ forloop.index0 }}]);
                </script>
            {% endif %}
            {% endfor %}
        </ul>
        <input type="submit" value="Actualiser !">
    </form>
<script>
    var currentDomain = "";
    var currentDomainLevel = -1;
    $('#selectDomainForm').submit(async ev => {
         ev.preventDefault();
         $('#dialog').dialog('close');
         waitingDialog = await engine.renderFile("dialog/waitRequest", {});
         $('#dialog').html(waitingDialog);
         $('#dialog').dialog({
            width: "auto",
            modal: true,
            title:'chargement',
         });
         $.ajax({
            url:'../api/changeDomain.php',
            data: {
                domain: currentDomain,
                level: currentDomainLevel,
            },
            success: data => {
               location = location.pathname;
            },
            error: data => {
               alert('une erreur est survenue');
            }
         })
    })
</script>
