
    <h3 id="downloadData" class="title is-3">téléchargement des données de la carte</h3>
    <p>Il est possible de télércharger les données pour intégré une ou plusieur cartes à un site.</p>
    Données à télécharger :<br />
    <p>
        <label class="checkbox" for="selectedInstitution">
            <input type="checkbox" class="mapDataParam" id="selectedInstitution" checked> institutions
        </label>
    </p>
    <p>
        <label class="checkbox" for="selectedDomain">
            <input type="checkbox" class="mapDataParam" id="selectedDomain"> domaines
        </label>
    </p>
    <p>
        <label class="checkbox" for="selectedCrossDomain">
            <input type="checkbox" class="mapDataParam" id="selectedCrossDomain"> pluridisciplinarité
        </label>
    </p>
    <p><a id="mapData" class="parameterLink" href="../api/mapData.php">télécharger les données</a></p>
    <script>
        loadParametricLink();
    </script>