<label class="label" for="searchText">Recherche d'une personneayan un idHal : </label>
<input class="input" type="text" id="searchText" name="searchText">
<h2>Correspondances</h2>
<table style="width: 100%;" id="resultTable">
   <thead>
      <tr>
         <th style="width: 80%;">Nom</th>
         <th>idHal numérique</th>
         <th>idHal</th>
      </tr>
   </thead>
   <tbody id="resultTableBody"></tbody>
</table>
<script>
   var currentQuery = null;
   $('#searchText').on('input', function() {
      if(currentQuery!=null) currentQuery.abort();
      currentQuery = $.ajax({
         url: 'https://api.archives-ouvertes.fr/ref/author',
         data: {
            q: $('#searchText').val(),
            fl: 'fullName_s,idHal_i,idHal_s'
         },
         success: data => {
            $('#resultTableBody').empty();
            idIn = [];
            data['response']['docs'].forEach((dataElement, index) => {
               if(dataElement['idHal_i']!=undefined) {
                  openLinkI = '<a href="#" class="validate" data-newid="' + dataElement['idHal_i']+'">';
                  openLinkS = '<a href="#" class="validate" data-newid="' + dataElement['idHal_s']+'">';
                  tableLine = '<tr><td>' + openLinkS + dataElement['fullName_s'] + '</a></td><td>';
                  tableLine += openLinkI + dataElement['idHal_i']+ '</a></td><td>';
                  tableLine += openLinkS + dataElement['idHal_s']+ '</a></td></tr>';
                  tableLine += '</td></tr>';
                  $('#resultTableBody').append(tableLine)
               }
            })
            $('.validate').click(ev => {
               ev.preventDefault();
               $('#queryBase').val($(ev.target).data('newid'));
               $("#search-dialog").dialog('close');
            })
         }
      })
   });
</script>