{% if canSave %}
  <h2>Sauver la requête en cours</h2>

  <form id="saveQueryInLoad">
    <label for="saveName">Nom de la sauvegarde à créer</label><br>
    <input type="text" name="saveName" id="saveName"><br>
    <input type="submit" value="enregistrer">
  </form>
{% endif %}
<h2>liste des sauvegardes</h2>
<br>
<a href="#" id="cleanData">vider la liste</a><br>
<table>
  <thead>
    <tr>
      <th>nom</th>
      <th>type de requête</th>
      <th>requête</th>
      <th>date</th>
      <th>suppression</th>
    </tr>
  </thead>
  <tbody id="saveList"></tbody>
</table>
<script>
  $('#cleanData').click(ev => {
    ev.preventDefault();
    localStorage.clear();
    loadSaveList();
  })
  $('#saveQueryInLoad').submit(async ev => {
    ev.preventDefault();
    $.ajax({
      url: '../api/rowData.php',
      type: 'get',
      data: {},
      success: async data => {
        localStorage.setItem($('#saveName').val(), JSON.stringify(data));
        $('#saveName').val('');
        loadSaveList();
      }
    })
  })
  async function loadSaveList() {
    $("#saveList").empty();
    if (localStorage.length <= 0) {
      $('#cleanData').hide();
    } else {
      $('#cleanData').show();
    }
    saves = [];
    for (let saveIndex = 0; saveIndex < localStorage.length; saveIndex++) {
      var saveName = localStorage.key(saveIndex);
      saves[saveIndex] = JSON.parse(localStorage.getItem(saveName));
      var newLine = "<tr><td><a id='saveLink" + saveIndex + "'>";
      newLine += saveName + '</a></td>';
      var parameter = saves[saveIndex]['parameter'];
      newLine += '<td>' + parameter['queryType'] + '</td>';
      newLine += '<td>' + parameter['queryBase'] + '</td>';
      if (parameter['producedDateInterval']) {
        newLine += '<td>de ' + parameter['producedDateStart'] + ' à ' + parameter['producedDateEnd'] + '</td>';
      } else {
        newLine += '<td>toutes</td>';
      }
      newLine += "<td><a id='delLink" + saveIndex + "'>";
      newLine += 'supprimer</a></td></tr>';
      await $('#saveList').append(newLine);
      $('#saveLink' + saveIndex).data('saveData', JSON.stringify(saves[saveIndex]));
      $('#saveLink' + saveIndex).click(async function(ev) {
        saveData = $(ev.target).data('saveData')
        ev.preventDefault();
        loadDataQuery = $.ajax({
          type: 'post',
          url: '../api/rowData.php',
          data: {
            data: saveData
          },
          success: data => {
            location = location.pathname;
          }
        })
        uploadDataWaiting = await engine.renderFile("dialog/uploadDataWaiting", {});
        $("#dialog").html(uploadDataWaiting);
        $("#dialog").dialog({width: "auto", 'title': 'envoie en cours', modal: true});
        $('#cancel').click(ev => {
          ev.preventDefault();
          loadDataQuery.abort();
          $("#dialog").dialog('close');
        })
      })
      $('#delLink' + saveIndex).click(ev => {
        ev.preventDefault();
        localStorage.removeItem(saveName);
        loadSaveList();
      })
    }
  }
  loadSaveList();
</script>