<label class="label" for="searchText">Recherche multicritaire : </label>
<input class="input" type="text" id="searchText" name="searchText">
<h2>Correspondances</h2>
<table style="width: 100%;" id="resultTable">
   <thead>
      <tr>
         <th style="width: 80%;">Nom</th>
         <th>Code</th>
      </tr>
   </thead>
   <tbody id="resultTableBody"></tbody>
</table>
<script>
   var currentQuery = null;
   $('#searchText').on('input', function() {
      if(currentQuery!=null) currentQuery.abort();
      currentQuery = $.ajax({
         url: 'https://api.archives-ouvertes.fr/ref/structure',
         data: {
            q: $('#searchText').val(),
            fl: 'label_s,acronym_s,docid'
         },
         success: data => {
            $('#resultTableBody').empty();
            idIn = [];
            data['response']['docs'].forEach((dataElement, index) => {
               if(dataElement['acronym_s']!=undefined) {
                  openLink = '<a href="#" class="validate" data-newid="' + dataElement['acronym_s']+'">';
                  tableLine = '<tr><td>' + openLink + dataElement['label_s'] + '</a></td><td>';
                  tableLine += openLink + dataElement['acronym_s']+ '</a></td></tr>';
                  tableLine += '';
                  tableLine += '</td></tr>';
                  $('#resultTableBody').append(tableLine)
               }
            })
            $('.validate').click(ev => {
               ev.preventDefault();
               $('#queryBase').val($(ev.target).data('newid'));
               $("#search-dialog").dialog('close');
            })
         }
      })
   });
</script>