En attente du résultat de la requête.
<br><br>
<a id="cancelQuery" href="#">annuler</a>
<script>
    $('#cancelQuery').click(ev => {
        ev.preventDefault();
        if (currentQuery!=null) {
            currentQuery.abort();
        }
        $("#dialog").dialog('close');
    })
</script>