<ul>
    {% for institution in institutions %}
    <li><a target="_blank" href="https://hal.archives-ouvertes.fr/search/index/?qa[{{ field }}][]={{ parameter.queryBase }}&qa[structId_i][]={{ institution.id }}&qa[text][]=&submit_advanced=Rechercher&rows=100">{{ institution.name | replace: "%%simplecote%%", "'"  }} : {{ institution.nb }}</a></li>
    {% endfor %}
</ul>