<ul>
    {% for domain in domains %}
    <li><a target="_blank" href="https://hal.archives-ouvertes.fr/search/index/?qa[{{ field }}][]={{ parameter.queryBase }}&qa[domain_t][]={{ domain.code }}&qa[structCountry_t][]={{ id }}&submit_advanced=Rechercher&rows=100">{{ domain.name }} : {{ domain.nb }}</a></li>
    {% endfor %}
</ul>