<ul>
    {% if domainL0 %}
        {% assign crossDomainValues = crossDomainsL0 %}
    {% else %}
        {% assign crossDomainValues = crossDomains %}
    {% endif %}
    {% for crossDomain in crossDomainValues %}
        <li>{{ crossDomain[0] }} : {{ crossDomain[1].nb }}</li>
        <ul>
            {% for domainName in crossDomain[1].names %}
            <li>{{ domainName }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
