<h2 id="name" class="subtitle is-2">Info en cours de chargement</h2>
<h3 id="acronym" class="subtitle is-3">Info en cours de chargement</h3>
<br>
<p>
    {% case queryType %}
        {% when "collection" %}
            <p><a target="_blank" href="https://hal.archives-ouvertes.fr/search/index/?qa%5BcollCode_s%5D%5B%5D={{ queryBase }}&qa%5BstructId_i%5D%5B%5D={{ institution.id }}&qa%5Btext%5D%5B%5D=&submit_advanced=Rechercher&rows=100">Recherche Hal</a></p>
        {% when "structure" %}
            <p><a target="_blank" href="https://hal.archives-ouvertes.fr/search/index/?qa%structure_t%5D%5B%5D={{ queryBase }}&qa%5BstructId_i%5D%5B%5D={{ institution.id }}&qa%5Btext%5D%5B%5D=&submit_advanced=Rechercher&rows=100">Recherche Hal</a></p>
        {% when idhal %}
            <p><a target="_blank" href="https://hal.archives-ouvertes.fr/search/index/?qa%authIdHal_i%5D%5B%5D={{ queryBase }}&qa%5BstructId_i%5D%5B%5D={{ institution.id }}&qa%5Btext%5D%5B%5D=&submit_advanced=Rechercher&rows=100">Recherche Hal</a></p>
        {% else %}
            <p><a target="_blank" href="https://hal.archives-ouvertes.fr/search/index/?qa%5BstructId_i%5D%5B%5D={{ institution.id }}&qa%5Btext%5D%5B%5D=&submit_advanced=Rechercher&rows=100">Recherche Hal</a></p>
    {% endcase %}
    <p><a target="_blank" href="https://api.archives-ouvertes.fr/ref/structure?q=docid:{{ institution.id }}&fl=*">Requête API</a></p>
</p>
<div id="fusionnableInstitution">list des institution fusionnable :<br></div><br>
<p id="details">
    <p>pays : {{ institution.country | default: 'inconnu' }}</p>
    <p>validité : {{ institution.valid }}</p>
    <p><a href="#" id="showAllDetails">Afficher tous les détails</a></p>
    <div id="allDetails"></div>
</p>
<script>
    $('#fusionnableInstitution').hide();
    $.ajax({
        url:'https://api.archives-ouvertes.fr/ref/structure?q=docid:{{ institution.id }}&fl=*',
        success: data => {
            doc = data.response.docs[0];
            $('#name').text(doc.label_s);
            $('#acronym').text(doc.acronym_s);
            nonWantedField = ['_version_', 'label_s', 'acronym_s', 'valid_s', 'aliasDocid_i']
            $('#allDetails').empty();
            for (info in doc) {
                if(!nonWantedField.includes(info)) {
                    $('#allDetails').append('<p>' + info + ': ' + doc[info]);
                }
            }
            $('#allDetails').hide();
        }
    })
    $('#showAllDetails').click(ev => {
        ev.preventDefault();
        $('#allDetails').toggle();
    })
</script>