{% if ignoreList != true %}
    <a id="currentIgnoreList" href="#">list des pluridisciplinarités ignorés</a><br />
    <p>Les cases a coché pour chaque pluridisciplinarité permette de mettre en surbrillance les pays conserner.</p>
    <p>Ignorer permet d'enlevé des éléments qui ne sont pas pertinant (exemple 2 sous domaine équivalant).</p>
    <div class="field">
        <label class="checkbox" for="onlyL0"></label>
            <input type="checkbox" name="onlyL0" id="onlyL0"> Limité au domaine croisés de niveau 0
        </label>
    </div>
    {% for crossDomain in crossDomainList %}
        <div class="field">
            <label class="checkbox" for="Selector{{ forloop.index0 }}">
                <input type="checkbox" class="selectCrossDomaine" id="Selector{{ forloop.index0 }}" data-countriesid='[{% for countryId in crossDomainInfos[crossDomain]["countriesId"] %}{%- if forloop.first != true -%}, {%- endif %}"{{ countryId }}"{% endfor -%}]' data-crossdomain="{{ crossDomain }}"><label for="Selector{{ forloop.index0 }}"> détail des domain </label> <a id="delCrossDomain{{ forloop.index0 }}" data-crossdomain="{{ crossDomain }}" href="#">ignorer</a>
            </label>
        </div>
        <ul>
            {% for name in crossDomainInfos[crossDomain]['names'] %}
            <li>{{ name }}</li>
            {% endfor %}
        </ul>
        présent dans les pays : {% for country in crossDomainInfos[crossDomain]['countries'] %}{%- if forloop.first != true -%},{%- endif %}{{ country }}{% endfor -%}<br /><br />
    {% endfor %}
    <script>
        for (let crossDomainIndex = 0; crossDomainIndex < $('#crossDomainList').data('crossdomaindetails').list.length; crossDomainIndex++) {
            $('#delCrossDomain' + crossDomainIndex).click(ev => {
                ev.preventDefault();
                $.ajax({
                    url: '../api/mapModeManager.php',
                    type: 'post',
                    data: {
                        addToIgnore: [$('#delCrossDomain' + crossDomainIndex).data('crossdomain')],
                        mode: 'crossDomain',
                    },
                    success: data => {
                        $('#map').trigger('changeData');
                    }
                })
            })
        }
        $('#currentIgnoreList').click(async ev => {
            ev.preventDefault();
            $.ajax({
                url: '../api/mapModeManager.php',
                type: 'get',
                data: {
                    getIgnoreList: true,
                    mode: 'crossDomain',
                },
                success: async data => {
                    HTMLlist = await engine.renderFile('list/crossDomainList', {
                        crossDomainList: data,
                        ignoreList: true,
                    });
                    $('#crossDomainList').html(HTMLlist);
                }
            });
        })
        $('.selectCrossDomaine').click(ev => {
            halMaps.getMap('#map').resetAllStyle();
            $('.selectCrossDomaine').each(function() {
                if($(this).is(':checked')) {
                    $(this).data('countriesid').forEach(element => {
                        halMaps.getMap('#map').highlightCountry(element);
                    });
                }
            })
        })
        $('#onlyL0').change(function() {
            $('#map').data('domainl0', $('#onlyL0').prop('checked')).trigger("changeData");
        })
        $('#onlyL0').prop('checked', $('#map').data('domainl0'))
    </script>
{% else %}
    <h3 class="title is-3">liste des pluridisciplinarité ignorer</h3>
    <a id="returnFromIgnoreList" data-size="{{ crossDomainList.length }}" href="#">retour</a><br />
    {% for crossDomain in crossDomainList %}
        <input data-crossdomain="{{ crossDomain }}" class="checkIgnored" type="checkbox"> {{ crossDomain }} <a id="undelCrossDomain{{ forloop.index0 }}" data-crossdomain="{{ crossDomain }}" href="#">restaurer</a><br />
    {% endfor %}<br />
    <a id="restaureSelected" href="#">restaurer les pluridisciplinartié selectionné</a><br>
    <a id="restaureAll" href="#">restaurer tout</a><br>
    <a href="../api/mapModeManager.php?getIgnoreList=true&mode=crossDomain">télécharger la liste</a><br>
    <a id="uploadIgnoreLink" href="#">upload data file</a>
    <input id="uploadIgnoreFile" type="file" name="loadDataFile" style="display: none;" />
    <script>
        $('#uploadIgnoreLink').click(ev => {
            ev.preventDefault();
            $('#uploadIgnoreFile').trigger('click');
        });
        $("#uploadIgnoreFile:file").change(async function() {
            var dataFile = $('#uploadIgnoreFile').prop('files')[0];
            if(dataFile!=undefined) {
                var filContent = await dataFile.text();
                await $.ajax({
                    type: 'post',
                    url: '../api/mapModeManager.php',
                    data: {
                        ignoreList: filContent,
                        loadIgnoreList: true,
                        mode: 'crossDomain'
                    },
                    success: _ => {loadList('crossDomain')();}
                })
                $('#map').trigger('changeData');
            }
        })
        $('#returnFromIgnoreList').click(ev => {
            ev.preventDefault();
            loadList('crossDomain')();
        });
        for (let crossDomainIndex = 0; crossDomainIndex < $('#returnFromIgnoreList').data('size') ; crossDomainIndex++) {
            $('#undelCrossDomain' + crossDomainIndex).click(ev => {
                ev.preventDefault();
                $.ajax({
                    url: '../api/mapModeManager.php',
                    type: 'post',
                    data: {
                        removeFromIgnore: [$('#undelCrossDomain' + crossDomainIndex).data('crossdomain')],
                        mode: 'crossDomain',
                    },
                    success: data => {
                        $('#map').trigger('changeData');
                    }
                })
            })
        }
        $('#restaureSelected').click(ev => {
            ev.preventDefault();
            unignreList = [];
            $('.checkIgnored:checked').each((index, element) => {
                unignreList.push($(element).data('crossdomain'));
            })
            $.ajax({
                url: '../api/mapModeManager.php',
                type: 'post',
                data: {
                    removeFromIgnore: unignreList,
                    mode: 'crossDomain',
                },
                success: data => {
                    $('#map').trigger('changeData');
                }
            })
        })
        $('#restaureAll').click(ev => {
            ev.preventDefault();
            unignreList = [];
            $('.checkIgnored').each((index, element) => {
                unignreList.push($(element).data('crossdomain'));
            })
            $.ajax({
                url: '../api/mapModeManager.php',
                type: 'post',
                data: {
                    removeFromIgnore: unignreList,
                    mode: 'crossDomain',
                },
                success: data => {
                    $('#map').trigger('changeData');
                }
            })
        })
    </script>
{% endif %}