{% if ignoreList != true %}
    <a id="currentIgnoreList" href="#">list des domaines ignorer</a><br />
    <a id="ignoreSelected" href="#">ignorer les élément selectionné</a><br>
    {% for domain in domainList %}
    <input type="checkbox" class="selectDomaine" data-domain="{{ domain }}"> {{ domain }} : {{ domainInfos[domain]['nb'] }} <a id="delDomain{{ forloop.index0 }}" data-domain="{{ domain }}" href="#">(ignorer)</a><br>
    {% endfor %}<br>
    <script>
        for (let domainIndex = 0; domainIndex < $('#domainList').data('domaindetails').list.length; domainIndex++) {
            $('#delDomain' + domainIndex).click(ev => {
                ev.preventDefault();
                $.ajax({
                    url: '../api/mapModeManager.php',
                    type: 'post',
                    data: {
                        addToIgnore: [$('#delDomain' + domainIndex).data('domain')],
                        mode: 'domain',
                    },
                    success: data => {
                        $('#map').trigger('changeData');
                    }
                })
            })
        }
        $('#ignoreSelected').click(async ev => {
            ev.preventDefault();
            ignreList = [];
            $('.selectDomaine:checked').each((index, element) => {
                ignreList.push($(element).data('domain'));
            });
            $.ajax({
                url: '../api/mapModeManager.php',
                type: 'post',
                data: {
                    addToIgnore: ignreList,
                    mode: 'domain',
                },
                success: data => {
                    $('#map').trigger('changeData');
                }
            })
        })
        $('#currentIgnoreList').click(ev => {
            ev.preventDefault();
            $.ajax({
                url: '../api/mapModeManager.php',
                type: 'get',
                data: {
                    getIgnoreList: true,
                    mode: 'domain',
                },
                success: async data => {
                    HTMLlist = await engine.renderFile('list/domainIgnoreList', {
                        domainList: data,
                        ignoreList: true,
                    });
                    $('#domainIgnoreList').html(HTMLlist);
                }
            });
        })
    </script>
{% else %}
    <h3 class="title is-3">liste des domaines ignorer</h3>
    <a id="returnFromIgnoreList" data-size="{{ domainList.length }}" href="#">retour</a><br />
    {% for domain in domainList %}
        <input data-domain="{{ domain }}" class="checkIgnored" type="checkbox"> {{ domain }}<a id="undelDomain{{ forloop.index0 }}" data-domain="{{ domain }}" href="#">restaurer</a><br />
    {% endfor %}<br />
    <a id="restaureSelected" href="#">restaurer les domaines selectionné</a><br>
    <a id="restaureAll" href="#">restaurer tout</a><br>
    <a href="../api/mapModeManager.php?getIgnoreList=true&mode=domain">télécharger la liste</a><br>
    <a id="uploadIgnoreLink" href="#">upload data file</a>
    <input id="uploadIgnoreFile" type="file" name="loadDataFile" style="display: none;" />
    <script>
        $('#uploadIgnoreLink').click(ev => {
            ev.preventDefault();
            $('#uploadIgnoreFile').trigger('click');
        });
        $("#uploadIgnoreFile:file").change(async function() {
            var dataFile = $('#uploadIgnoreFile').prop('files')[0];
            if(dataFile!=undefined) {
                var filContent = await dataFile.text();
                await $.ajax({
                    type: 'post',
                    url: '../api/mapModeManager.php',
                    data: {
                        ignoreList: filContent,
                        loadIgnoreList: true,
                        mode: 'domain'
                    },
                    success: _ => {loadList('domain')();}
                })
                $('#map').trigger('changeData');
            }
        })
        $('#returnFromIgnoreList').click(ev => {
            ev.preventDefault();
            loadList('domain')();
        });
        for (let domainIndex = 0; domainIndex < $('#returnFromIgnoreList').data('size'); domainIndex++) {
            $('#undelDomain' + domainIndex).click(ev => {
                ev.preventDefault();
                $.ajax({
                    url: '../api/mapModeManager.php',
                    type: 'post',
                    data: {
                        removeFromIgnore: [$('#undelDomain' + domainIndex).data('domain')],
                        mode: 'domain',
                    },
                    success: data => {
                        $('#map').trigger('changeData');
                    }
                })
            })
        }
        $('#restaureSelected').click(ev => {
            ev.preventDefault();
            unignreList = [];
            $('.checkIgnored:checked').each((index, element) => {
                unignreList.push($(element).data('domain'));
            })
            $.ajax({
                url: '../api/mapModeManager.php',
                type: 'post',
                data: {
                    removeFromIgnore: unignreList,
                    mode: 'domain',
                },
                success: data => {
                    $('#map').trigger('changeData');
                }
            })
        })
        $('#restaureAll').click(ev => {
            ev.preventDefault();
            unignreList = [];
            $('.checkIgnored').each((index, element) => {
                unignreList.push($(element).data('domain'));
            })
            $.ajax({
                url: '../api/mapModeManager.php',
                type: 'post',
                data: {
                    removeFromIgnore: unignreList,
                    mode: 'domain',
                },
                success: data => {
                    $('#map').trigger('changeData');
                }
            })
        })
    </script>
{% endif %}