{% for domain in domainList %}
<a target="_blank" href="https://hal.archives-ouvertes.fr/search/index/?qa[{{ field }}][]={{ parameter.queryBase }}&qa[domain_t][]={{ domainInfos[domain].element.code }}&submit_advanced=Rechercher&rows=100">{{ domain }} : {{ domainInfos[domain]['nb'] }}</a><br>
{% endfor %}<br>