{% for institution in institutionList %}
<a target="_blank" href="https://hal.archives-ouvertes.fr/search/index/?qa[{{ field }}][]={{ parameter.queryBase }}&qa[structId_i][]={{ institutionInfos[institution].element.id }}&submit_advanced=Rechercher&rows=100">{{ institution }} : {{ institutionInfos[institution]['nb'] }}</a><br>
{% endfor %} <br>