{% if ignoreList != true %}
    <a id="currentIgnoreList" href="#">liste des institutions ignorées</a><br />
    <a id="ignoreSelected" href="#">ignorer les éléments selectionnés</a><br>
    {% for institution in institutionList %}
        <input type="checkbox" class="selectInstitution" data-institutionid="{{ institutionInfos[institution]['element'].id }}"> {{ institution }} <a id="delInstitution{{ forloop.index0 }}" data-institutionid="{{ institutionInfos[institution]['element'].id }}" href="#">(ignorer)</a><br>
    {% endfor %} <br>
    <script>
        for (let institutionIndex = 0; institutionIndex < $('#institutionList').data('institutiondetails').list.length; institutionIndex++) {
            $('#delInstitution' + institutionIndex).click(ev => {
                ev.preventDefault();
                $.ajax({
                    url: '../api/mapModeManager.php',
                    type: 'post',
                    data: {
                        addToIgnore: [$('#delInstitution' + institutionIndex).data('institutionid')],
                        mode: 'institution',
                    },
                    success: data => {
                        $('#map').trigger('changeData');
                    }
                })
            })
        }
        $('#ignoreSelected').click(async ev => {
            ev.preventDefault();
            ignreList = [];
            $('.selectInstitution:checked').each((index, element) => {
                ignreList.push($(element).data('institutionid'));
            });
            $.ajax({
                url: '../api/mapModeManager.php',
                type: 'post',
                data: {
                    addToIgnore: ignreList,
                    mode: 'institution',
                },
                success: data => {
                    $('#map').trigger('changeData');
                }
            })
        })
        $('#currentIgnoreList').click(ev => {
            ev.preventDefault();
            $.ajax({
                url: '../api/mapModeManager.php',
                type: 'get',
                data: {
                    getIgnoreList: true,
                    mode: 'institution',
                },
                success: async data => {
                    HTMLlist = await engine.renderFile('list/institutionIgnoreList', {
                        institutionList: data,
                        ignoreList: true,
                    });
                    $('#institutionIgnoreList').html(HTMLlist);
                    $('#returnFromIgnoreList').click(ev => {
                        ev.preventDefault();
                        loadList('institution')();
                    });
                }
            });
        })
    </script>
{% else %}
    <h3 class="title is-3">liste des institutions ignorer</h3>
    <a id="returnFromIgnoreList" data-size="{{ institutionList.length }}" href="#">retour</a><br />
    {% for institution in institutionList %}
        <input data-institution="{{ institution }}" class="checkIgnored" type="checkbox"> {{ institution }} <a id="undelInstitution{{ forloop.index0 }}" data-institution="{{ institution }}" href="#">restaurer</a><br />
    {% endfor %}<br />
    <a id="restaureSelected" href="#">restaurer les institutions selectionné</a><br>
    <a id="restaureAll" href="#">restaurer tout</a><br>
    <a href="../api/mapModeManager.php?getIgnoreList=true&mode=institution">télécharger la liste</a><br>
    <a id="uploadIgnoreLink" href="#">upload data file</a>
    <input id="uploadIgnoreFile" type="file" name="loadDataFile" style="display: none;" />
    <script>
        $('#uploadIgnoreLink').click(ev => {
            ev.preventDefault();
            $('#uploadIgnoreFile').trigger('click');
        });
        $("#uploadIgnoreFile:file").change(async function() {
            var dataFile = $('#uploadIgnoreFile').prop('files')[0];
            if(dataFile!=undefined) {
                var filContent = await dataFile.text();
                await $.ajax({
                    type: 'post',
                    url: '../api/mapModeManager.php',
                    data: {
                        ignoreList: filContent,
                        loadIgnoreList: true,
                        mode: 'institution'
                    },
                    success: _ => {loadList('institution')();}
                })
                $('#map').trigger('changeData');
            }
        })
        for (let institutionIndex = 0; institutionIndex < $('#returnFromIgnoreList').data('size'); institutionIndex++) {
            $('#undelInstitution' + institutionIndex).click(ev => {
                ev.preventDefault();
                $.ajax({
                    url: '../api/mapModeManager.php',
                    type: 'post',
                    data: {
                        removeFromIgnore: [$('#undelInstitution' + institutionIndex).data('institution')],
                        mode: 'institution',
                    },
                    success: data => {
                        $('#map').trigger('changeData');
                    }
                })
            })
        }
        $('#restaureSelected').click(ev => {
            ev.preventDefault();
            unignreList = [];
            $('.checkIgnored:checked').each((index, element) => {
                unignreList.push($(element).data('institution'));
            })
            $.ajax({
                url: '../api/mapModeManager.php',
                type: 'post',
                data: {
                    removeFromIgnore: unignreList,
                    mode: 'institution',
                },
                success: data => {
                    $('#map').trigger('changeData');
                }
            })
        })
        $('#restaureAll').click(ev => {
            ev.preventDefault();
            unignreList = [];
            $('.checkIgnored').each((index, element) => {
                unignreList.push($(element).data('institution'));
            })
            $.ajax({
                url: '../api/mapModeManager.php',
                type: 'post',
                data: {
                    removeFromIgnore: unignreList,
                    mode: 'institution',
                },
                success: data => {
                    $('#map').trigger('changeData');
                }
            })
        })
    </script>
{% endif %}