<p><article class="message is-primary" id="institutionInfo"></article></p>
<p><a id="getInstitutionInfo" href="#">chercher les info de l'institution en cours</a></p>
<form method="post">
    <input type="hidden" name="countryAction" value="change">
    <input type="hidden" name="institution" value="{{ institution }}">
    <p>
        <label class="label" for="country">Pays</label>
        <select name="country" id="country">
            {% for country in countries %}
                <option value="{{ country[0] }}">{{ country[1] }} ({{ country[0] }})</option>
            {% endfor %}
        </select>
    </p>
    <input class="button is-primary" type="submit" value="envoyer">
</form>
<script>
    $('#getInstitutionInfo').click(ev => {
        ev.preventDefault();
        $.ajax({
            url: 'https://api.archives-ouvertes.fr/ref/structure?q=docid:{{ institution }}&fl=*',
            success: async data => {
                arrayData = []
                for(infoName in data['response']['docs'][0]) {
                    arrayData.push([infoName, data['response']['docs'][0][infoName]]);
                }
                institutionInfo = await engine.renderFile("unknow/institutionInfo", {
                    label: data['response']['docs'][0]['label_s'],
                    data: arrayData
                });
                $('#institutionInfo').html(institutionInfo);
            }
        })
    })
    $(document).ready(function() {
        $('#country').select2();
    });
</script>