<div class="message-header">
    <p>Info pour {{ label }}</p>
</div>
<div id="institutionInfos" class="message-body">
    {% for info in data %}
    <p>{{ info[0] }} : {{ info[1] }}</p>
    {% endfor %}
</div>


